In [5]:
import pandas as pd

#housing = pd.read_csv('boston_housing.csv')
housing = pd.read_csv('boston_housing.csv')
housing.head(10)

   0.00632  18.00   2.310  0  0.5380  6.5750  65.20  4.0900   1  296.0  15.30 396.90   4.98  24.00
0   0.02731   0.00   7.070  0  0.4690  6.4210  78...
1   0.02729   0.00   7.070  0  0.4690  7.1850  61...
2   0.03237   0.00   2.180  0  0.4580  6.9980  45...
3   0.06905   0.00   2.180  0  0.4580  7.1470  54...
4   0.02985   0.00   2.180  0  0.4580  6.4300  58...
5   0.08829  12.50   7.870  0  0.5240  6.0120  66...
6   0.14455  12.50   7.870  0  0.5240  6.1720  96...
7   0.21124  12.50   7.870  0  0.5240  5.6310 100...
8   0.17004  12.50   7.870  0  0.5240  6.0040  85...
9   0.22489  12.50   7.870  0  0.5240  6.3770  94...

In [7]:
housing.iloc[50]

 0.00632  18.00   2.310  0  0.5380  6.5750  65.20  4.0900   1  296.0  15.30 396.90   4.98  24.00     0.04337  21.00   5.640  0  0.4390  6.1150  63...
Name: 50, dtype: object

In [ ]:
housing.iloc[10]